/* scrollbar oluşumunu önleme */
html {
    overflow: hidden;
}


/* google fonts ve arkaplan rengi */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(33, 37, 41);
}

/* sol panel tasarımı */
.solpanel{
    height: 82vh;
    background-color: rgb(33, 37, 41);
}
.dropdown{
    display:flex;
}

/* açılan listen checkboxlarının sol kenar boşluğu */
.dropdown-menu{
    padding-left: 5%;
}

/* artı ikonunun sağa yaslanması */
.plus-icon{
    position: absolute;
    right: 10%;
}



/* video ile sayfanın sağ kenarı arasındaki boşluk */
.col-lg-10{
    padding-right: 2%;
}